Sami Al-Qusus
CSCI 375 Contributions
March 5, 2018

1) Typed up the document after recieving good feedback and notes from members. 
Note:Tony initially created document's template.
2) Prepared the presentation, and assigned work to members.
3) Provided an update on the current state of the project and made some changes after recieving feedback from users and group consultation.
4)interviewed 3 individuals together (group interview).

